<p>
  Realizar un pequeño sistema en donde haciendo uso de la siguiente API <strong>https://openweathermap.org/api</strong>,
  y usando la última versión de Angular se demuestren la utilización de los siguientes conceptos:
</p>

<ul>
  <li><cui-checked></cui-checked>Features Modules</li>
  <li>
    <cui-checked></cui-checked>Creación de Componentes Genéricos reutilizable.
    <ul>
      <li><cui-checked></cui-checked>Exportar a Librería su UI y behaviors</li>
      <li>
        <cui-checked></cui-checked>Implementar en el proyecto en al menos dos instancias del componente donde se pueda
        observar diferente aspecto y la reutilización del mismo.
      </li>
    </ul>
  </li>
  <li><cui-checked [checked]="false"></cui-checked>Implementación de NGRX.</li>
  <li><cui-checked></cui-checked>Implementación de RXJS.</li>
  <li>
    <cui-checked [checked]="false"></cui-checked>El sistema debería de tener como mínimo 2 funcionalidades diferentes
    por ejemplo cambio de ciudad.
  </li>
  <li><cui-checked [checked]="false"></cui-checked>Opcional Test Unitario del módulo desarrollado.</li>
</ul>
