@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$font-family: Arial, Helvetica, sans-serif;
$footer-background-color: royalblue;
$footer-text-color: #fff;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: $font-family;
  @include flex-column;
  .clx-body {
    flex-grow: 1;
    @include flex-column;
  }
  .clx-footer {
    background-color: $footer-background-color;
    * {
      color: $footer-text-color;
      font-size: 12px;
    }
    &__links {
      list-style: none;
      display: flex;
      &-link:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
